<div>
  <h1>{{program.excursion.name}}</h1>
  <h2 class='py-2'>
    {{program.excursion.location.city}},
    {{program.excursion.location.country}}
  </h2>
  <b>{{program.excursion.date}}</b>

  <hr class='pt-4 mt-5' />

  <h3 class='pb-3'>Program</h3>
  {{#each program.excursion.program}}
    <div>
      <ul class='pb-2'>
        <li>
          <p>{{name}}</p>
          <p>Type: {{type}}</p>
          <p>Duration: {{duration}} hours</p>
        </li>
      </ul>

      <h4 class='pb-2'>Details</h4>
      {{#with details.museum}}
        <div class='pb-4'>
          <h5 class='pb-3'>Museum: {{name}}</h5>
          <p class='ps-4 pb-4'>Location:
            {{location.address}},
            {{location.city}},
            {{location.country}}
          </p>

          <h4 class='pb-3'>Exhibits</h4>
          {{#each exhibits}}
            <div class='ps-4'>
              <p>{{name}}</p>
              {{#if artist}}
                <p>Artist: {{artist}}</p>
              {{else}}
                <p>Artist Unknow</p>
              {{/if}}
              <p>Description: {{description}}</p>
              {{#if audio_guide}}
                <p>Audio guide available</p>
              {{else}}
                <p>Audio guide not available</p>
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/with}}

      {{#with details.venue}}
        <div class='pb-4'>
          <h5>Venue: {{name}}</h5>
          <p class='ps-4'>Location:
            {{location.address}},
            {{location.city}},
            {{location.country}}
          </p>

          {{#each performers}}
            <div>
              <h5>{{name}}</h5>
              <p class='ps-4'>Type: {{type}}</p>
            </div>
          {{/each}}
        </div>
      {{/with}}

      {{#with details.guide}}
        <div>
          <h4 class='pb-3'>Guide: {{name}}</h4>
          <p class='ps-4'>Language: {{language}}</p>
          <p class='ps-4'>Rating: {{rating}}</p>
        </div>
      {{/with}}
    </div>
  {{/each}}
</div>